BODY {
scrollbar-face-color:#95BF0F;
scrollbar-highlight-color:#FFFFFF;
scrollbar-3dlight-color:#95BF0F;
scrollbar-darkshadow-color:#95BF0F;
scrollbar-shadow-color:#FFFFFF;
scrollbar-arrow-color:#FFFFFF;
scrollbar-track-color:transparent;
}

ul{
	list-style:url(../contenidos/salud/images/lista.gif);
}

.textos {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #666666;
	text-shadow:0.1em 0.1em #fff;
	text-decoration: none;
	text-transform: none;
	line-height:15px;
}
.titulos_blancos {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight: bold;
	text-transform: none;
	color: #FFFFFF;
	line-height: 12px;
}
.titulos_blancosALTA {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 12px;
}
.titulos_azul {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FD8200;
}
.titulos_verde {
	font-family: "Trebuchet MS";
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0099F2;
	line-height: 12px;
}
.input {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-style: normal;
	line-height: 10pt;
	color: #009DF8;
	text-decoration: none;
	border: 1px solid #000000;
	height: 16px;
	background-color: #FFFFFF;
	list-style-type: none;

}
.textos_azul11 {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	text-transform: none;
	line-height: 12px;
}
.textos_grisoscurol11 {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	text-transform: none;
	line-height: 13px;
}
.textos_grisoscurol11_2 {


	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #666666;
	text-decoration: none;
	text-transform: none;
	line-height: 12px;
}
a:link {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #92BB0E;
	text-decoration: none;
	line-height: 12px;
	text-transform: none;
}
a:hover {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #009DF8;
	text-decoration: underline;
	line-height: 12px;
	text-transform: none;
}
a {
	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #92BB0E;
	text-decoration: none;
	line-height: 12px;
	text-transform: none;
}
.subtitulos_blancos {

	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #FFFFFF;
	line-height: 12px;
}
.subtitulos_verde {


	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #607909;
	line-height: 12px;
}
.subtitulos_verde2 {



	font-family: "Trebuchet MS";
	font-size: 11px;
	font-weight: bold;
	text-transform: none;
	color: #3F5005;
	line-height: 12px;
}
.textos_verde11 {


	font-family:Verdana, Geneva, sans-serif;
	font-size: 10px;
	color: #90B80E;
	text-decoration: none;
	text-shadow:0.1em 0.1em #dde9b5;
	text-transform: none;
	line-height: 12px;
}
.inputtxtarea {

	font-family: "Trebuchet MS";
	font-size: 11px;
	font-style: normal;
	line-height: 10pt;
	color: #009DF8;
	text-decoration: none;
	border: 1px solid #000000;
	background-color: #FFFFFF;
	list-style-type: none;
}
.text-celeste-fecha {
	font-family: "Trebuchet MS";
	font-size: 11px;
	font-style: normal;
	line-height: 10pt;
	color: #009DF8;
	text-decoration: none;
	list-style-type: none;
}
.textos_blancol11 {



	font-family: "Trebuchet MS";
	font-size: 11px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: none;
	line-height: 12px;
}
.titulos_verde_grandes {
	font-family: "Trebuchet MS";
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #0099F2;
	text-shadow:0.1em 0.1em #dde9b5;
	line-height: 16px;
}
.titulos_cyan_grandes {
	font-family: "Trebuchet MS";
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #39F;
	text-shadow:0.1em 0.1em #dde9b5;
	line-height: 16px;
}
.titulos_morado_grandes {
	font-family: "Trebuchet MS";
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color:#639;
	text-shadow:0.1em 0.1em #dde9b5;
	line-height: 16px;
}
.sombra{
-moz-box-shadow:1px 1px 4px 1px #bbb;
-webkit-box-shadow:1px 1px 4px 1px #bbb;
box-shadow:1px 1px 4px 1px #bbb;
}
.border {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	border-left-color: #CCC;
}
