/*
 * jQuery FlexSlider v1.7
 * http://flex.madebymufffin.com
 *
 * Copyright 2011, Tyler Smith
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

/* Browser Resets */

.flex-container a:active, 
.flexslider a:active {
	outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* FlexSlider Necessary Styles
*********************************/

.flexslider {
	width: 100%;
	margin: 0;
	padding: 0;
}

.flexslider .slides > li {
	display: none;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */

.flexslider .slides img {
	max-width: 750px;
	
}

.flex-pauseplay span {
	text-transform: capitalize;
}

/* Clearfix for the .slides element */

.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .slides {
	display: block;
}

* html .slides {
	height: 1%;
}

/* No JavaScript Fallback */

/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */

.no-js .slides > li:first-child {
	display: block;
}

/* FlexSlider Default Theme
*********************************/

.flexslider {

/*background: #fff;*/position: relative;
	zoom: 1;
}

.flexslider .slides {
	zoom: 1;
}

.flexslider .slides > li {
	position: relative;
}

/* Suggested container for "Slide" animation setups. Can replace this with your own, if you wish */

.flex-container {
	zoom: 1;
	position: relative;
}

/* Caption style */

/* IE rgba() hack */

.flex-caption {
	background: none;
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4C000000,endColorstr=#4C000000);
	zoom: 1;
}

.flex-caption {
	width: 96%;
	padding: 2%;
	position: absolute;
	left: 0;
	bottom: 0;
	background: rgba(0,0,0,.3);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.3);
	font-size: 14px;
	line-height: 18px;
}

/* Direction Nav */

.flex-direction-nav li a {
	width: 40px;
	height: 80px;
	display: block;
	background: url(../images/bg_direction_nav.png) no-repeat 0 0;
	position: absolute;
	top: 140px;
	cursor: pointer;
	text-indent: -9999px;
	margin: 0;
}

.flex-direction-nav li a.next {
	background-position: -40px 0;
	top: 40%;
	right: 0px;
}

.flex-direction-nav li a.next:hover {
	opacity: 0.75;
	filter: alpha(opacity=75);
/* For IE8 and earlier */
}

.flex-direction-nav li a.prev {
	background-position: 0 0;
	top: 40%;
	left: 0px;
}

.flex-direction-nav li a.prev:hover {
	opacity: 0.75;
	filter: alpha(opacity=75);
/* For IE8 and earlier */
}

.flex-direction-nav li a.disabled {
	opacity: .3;
	filter: alpha(opacity=30);
	cursor: default;
}

/* Control Nav */

.flex-control-nav {
	width: 100%;
	position: absolute;
	bottom: 10px;
	text-align: center;
}

.flex-control-nav li {
	margin: 0 0 0 5px;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.flex-control-nav li:first-child {
	margin: 0;
}

.flex-control-nav li a {
	width: 13px;
	height: 13px;
	display: block;
	background: url(../images/bg_control_nav.png) no-repeat 0 0;
	cursor: pointer;
	text-indent: -9999px;
}

.flex-control-nav li a:hover {
	background-position: 0 -13px;
}

.flex-control-nav li a.active {
	background-position: 0 -26px;
	cursor: default;
}
