@charset "UTF-8";

.medium {font-family: 'HelveticaNeueLTStd65Medium';}
.gris_oscuro {
	color: #565a68;
}
.size8 {font-size: 8px;}
.size9 {font-size: 9px;}
.size10 {font-size: 10px;}
.size11 {font-size: 11px;}
.size12 {font-size: 12px; line-height:16px}
.size13 {font-size: 13px;}
.size14 {font-size: 14px;line-height:16px;}
.size16 {font-size: 16px;}
.size18 {font-size: 18px;}
.size20 {font-size: 20px;}
.size22 {font-size: 22px;}
.size24 {font-size: 24px;}
.size30 {font-size: 30px;}
.size36 {font-size: 36px;}
.size48 {font-size: 48px;}
.size60 {font-size: 60px;}
.size72 {font-size: 72px;}
.size90 {font-size: 90px;}