<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<link href="../../css/estilos_css.css" rel="stylesheet" type="text/css">
<title>Corporaci&oacute;n De La Renca</title><body onLoad="MM_preloadImages('../../images/botonera_on_04.jpg','../../images/botonera_on_05.jpg','../../images/botonera_on_06.jpg','../../images/botonera_on_07.jpg','../../images/botonera_on_08.jpg','images/img_salud/salud_on_07.jpg','images/img_salud/salud_on_09.jpg','images/img_salud/salud_on_11.jpg','images/img_salud/salud_on_14.jpg','images/img_salud/salud_on_16.jpg','images/img_salud/salud_on_20.jpg','images/img_salud/sala_on_20.jpg')"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>    <td colspan="5"><a href="../../index.php.htm"><img src="../../images/flash_01.jpg" width="960" height="153" border="0" /></a></td>
  </tr>
  <tr>
    <td colspan="5"><table width="70" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="../../images/botonera_espacio.jpg" width="29" height="21" /></td>
        <td><img src="../../images/botonera_logo.jpg" width="276" height="21" /></td>
        <td><a href="../../index.php.htm"><img src="../../images/botonera_04.jpg" name="Image1" width="52" height="21" border="0" id="Image1" onMouseOver="MM_swapImage('Image1','','../../images/botonera_on_04.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><a href="../educacion/educacion.php.htm"><img src="../../images/botonera_06.jpg" width="96" height="21" border="0" id="Image3" onMouseOver="MM_swapImage('Image3','','../../images/botonera_on_06.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><a href="salud.php.htm"><img src="../../images/botonera_07.jpg" width="58" height="21" border="0" id="Image4" onMouseOver="MM_swapImage('Image4','','../../images/botonera_on_07.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><a href="../transparencia/contacto.php.htm"><img src="../../images/botonera_08.jpg" width="87" height="21" border="0" id="Image5" onMouseOver="MM_swapImage('Image5','','../../images/botonera_on_08.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="../../images/botonera_espacio_2.jpg" width="255" height="21" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="29" height="589" valign="top" background="images/interior_10.jpg"><img src="../../images/index_10.jpg" width="29" height="589" /></td>
    <td width="221" valign="top"><table width="70" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/interior_11.jpg" width="221" height="75"></td>
      </tr>
      <tr>
        <td height="514" valign="top" background="images/interior_16.jpg"><table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><a href="centro_renca.php.htm"><img src="images/img_salud/salud_07.jpg" name="Image6" width="220" height="46" border="0" id="Image6" onMouseOver="MM_swapImage('Image6','','images/img_salud/salud_on_07.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="de_cosam.php.htm"><img src="images/img_salud/salud_09.jpg" width="220" height="51" border="0" id="Image7" onMouseOver="MM_swapImage('Image7','','images/img_salud/salud_on_09.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="servicio_urgencia.php.htm"><img src="images/img_salud/salud_11.jpg" name="Image8" width="220" height="43" border="0" id="Image8" onMouseOver="MM_swapImage('Image8','','images/img_salud/salud_on_11.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="programas_salud.php.htm"><img src="images/img_salud/salud_14.jpg" name="Image9" width="220" height="42" border="0" id="Image9" onMouseOver="MM_swapImage('Image9','','images/img_salud/salud_on_14.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
        <td height="18"><a href="programa_salud_terreno.php.htm"><img src="images/img_salud/salud_16.jpg" name="Image9" width="220" height="35" border="0" id="Image9" onMouseOver="MM_swapImage('Image9','','images/img_salud/salud_on_16.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
      </tr>
          <tr>
            <td height="18"><a href="sala.php.htm"><img src="images/img_salud/sala_20.jpg" width="220" height="43" border="0" id="Image17" onMouseOver="MM_swapImage('Image17','','images/img_salud/sala_on_20.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18">&nbsp;</td>
          </tr>
          <tr>
            <td height="18">&nbsp;</td>
          </tr>
          <tr>
            <td height="18">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="56" valign="top"><img src="images/interior_12.jpg" width="56" height="589"></td>
    <td width="618" valign="top"><table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/interior_13.jpg" width="618" height="14"></td>
      </tr>
      <tr>
        <td height="576" valign="top" background="images/interior_15.jpg"><table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="46" height="88">&nbsp;</td>
            <td width="511" valign="bottom" class="titulos_verde_grandes">Actividades relevantes 1er semestre 2010</td>
            <td width="45">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table border="0">
              <tr>
                <td colspan="2">&nbsp;</td>
                <td width="407">&nbsp;</td>
              </tr>
              <tr>
                <td width="168" valign="top"><p><span class="textos_verde11"><img src="images/fotos/actividad_1.jpg" width="168" height="110" class="sombra" style="border:1px solid #999; -moz-border-radius:5px; border-radius:5px"></span><br>
                  </p></td>
                <td width="12">&nbsp;</td>
                <td><p class="textos">1.- Se da inicio a la construcci&oacute;n del 4to. &ldquo;Centro de Salud Familiar del Bicentenario&rdquo;, ubicado en Av. Brasil &ndash; Renca Poniente. Dicho proyecto fue postulado por la primera autoridad comunal dada la gran necesidad de cubrir la demanda y disminuir brechas de oportunidad de la atenci&oacute;n. Este centro de salud contar&aacute; con estructura de primer nivel al igual que su equipamiento para dar la mejor respuesta a las necesidades de salud.                  </p></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle">&nbsp;</td>
                </tr>
            </table>
              <table border="0">
                <tr>
                  <td valign="top"><p><span class="textos_verde11"><img src="images/fotos/actividad_2.jpg" width="168" height="110" class="sombra" style="border:1px solid #999; -moz-border-radius:5px; border-radius:5px"></span><br>
                  </p></td>
                <td width="12">&nbsp;</td>
                  <td><p class="textos">2.- Se firma Convenio entre la Corporaci&oacute;n Municipal de Educaci&oacute;n y Salud de Renca y la Embajada de Jap&oacute;n, el cual consta de la ampliaci&oacute;n 10 box de atenci&oacute;n, equipamiento y pavimentaci&oacute;n en el sector de acceso a ambulancias&nbsp; ello en Sapu Renca, ubicado en Balmaceda. Este proyecto impulsado por la primera autoridad comunal pretende mejorar la calidad de la atenci&oacute;n de los renquinos y requinas y disminuir los tiempos de espera adem&aacute;s de incorporar tecnolog&iacute;a de punta.</p></td>
                </tr>
                <tr>
                  <td colspan="2" align="center" valign="middle">&nbsp;</td>
                </tr>
              </table>
              <table border="0">
                <tr>
                  <td valign="top"><p><span class="textos_verde11"><img src="images/fotos/actividad_3.jpg" width="168" height="110" class="sombra" style="border:1px solid #999; -moz-border-radius:5px; border-radius:5px"></span><br>
                  </p></td>
                <td width="12">&nbsp;</td>
                  <td><p class="textos">3.- Se ha dado continuidad a la entrega de ayudas t&eacute;cnicas: sillas de ruedas, bastones, andadores y colchones antiescaras, adem&aacute;s de atenciones oftalmol&oacute;gicas que incluyen un par de lentes &oacute;pticos seg&uacute;n indicaci&oacute;n del profesional, esto para pacientes de 15 a 64 a&ntilde;os de edad. Tambi&eacute;n se ha mantenido vigente la entrega del aporte econ&oacute;mico para los cuidadores de pacientes &ldquo;postrados severos&rdquo; atendidos a trav&eacute;s de los centros de salud de la comuna.</p></td>
                </tr>
                <tr>
                  <td colspan="2" align="center" valign="middle">&nbsp;</td>
                </tr>
              </table>
              <table border="0">
                <tr>
                  <td valign="top"><p><span class="textos_verde11"><img src="images/fotos/actividad_4.jpg" width="168" height="110" class="sombra" style="border:1px solid #999; -moz-border-radius:5px; border-radius:5px"></span><br>
                  </p></td>
                                  <td width="12">&nbsp;</td>

                  <td><p class="textos">4.- Producto del terremoto acontecido en el pa&iacute;s en febrero del 2010 y que afecto a las dependencias del 2do. Piso del Centro de Salud Renca y para dar continuidad a la atenci&oacute;n dental del establecimiento se procedi&oacute; a habilitar por completo ese Servicio, adem&aacute;s se suscribi&oacute; un convenio con el Servicio de Salud Occidente en el cual se nos facilito la incorporaci&oacute;n de una Cl&iacute;nica Dental M&oacute;vil, que nos ha permito dar respuesta a la fuerte demanda de esta &aacute;rea, dicha cl&iacute;nica es atendida por el Dr. Luis Japaz quien entrega atenci&oacute;n a los menores directamente en sus establecimientos educacionales.</p><p class="textos">&nbsp;</p></td>
                </tr>
                <tr>
                  <td colspan="2" align="center" valign="middle">&nbsp;</td>
                </tr>
              </table>
              <table border="0">
                <tr>
                  <td><p><span class="textos_verde11"><img src="images/fotos/noticias_sin_img.jpg" width="168" height="110" class="sombra" style="border:1px solid #999; -moz-border-radius:5px; border-radius:5px"></span><br>
                  </p></td>
                <td width="12">&nbsp;</td>
                  <td><p class="textos">5.- Para descongestionar y disminuir los tiempos de espera como las filas en la Farmacia se procedi&oacute; ha habilitar &nbsp;una segunda Farmacia en el Centro de Salud Renca, la cual esta dirigida exclusivamente a los pacientes pertenecientes a los programas cr&oacute;nicos tales como IRA, ERA,&nbsp; cardiovascular, epilepsia, artrosis, entre otros.</p></td>
                </tr>
                <tr>
                  <td colspan="2" align="center" valign="middle">&nbsp;</td>
                </tr>
              </table>
              <table border="0">
                <tr>
                  <td valign="top"><p><span class="textos_verde11"><img src="images/fotos/actividad6.jpg" width="168" height="110" class="sombra" style="border:1px solid #999; -moz-border-radius:5px; border-radius:5px"></span><br>
                  </p></td>
                                  <td width="12">&nbsp;</td>

                  <td><p class="textos">6.- Durante el 1er. Semestre del presente se firmo en Convenio entre la corporaci&oacute;n Municipal y el Servicio de Salud para mejorar la resolutividad y disminuir listas de espera, lo que nos permiti&oacute; dar respuesta a diversos ex&aacute;menes, consultas de especialidad oftalmolog&iacute;a, neurolog&iacute;a,&nbsp; otorrino, urolog&iacute;a, entrega lentes &oacute;pticos, audi&oacute;fonos, compra de algunos f&aacute;rmacos, este convenio fue ejecutado para dar respuestas a las necesidades mas sentidas de algunos pacientes atendidos a trav&eacute;s de los centros de salud de la comuna.</p><p class="textos">&nbsp;</p></td>
                </tr>
                <tr>
                  <td colspan="2" align="center" valign="middle">&nbsp;</td>
                </tr>
              </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
    </table></td>
    <td width="37" valign="top" background="images/interior_14b.jpg"><img src="images/interior_14.jpg" width="37" height="589"></td>
  </tr>
  <tr>
    <td colspan="5"><img src="../../images/index_38.jpg" width="960" height="37" /></td>
  </tr>
</table>
 