<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<link href="../../css/estilos_css.css" rel="stylesheet" type="text/css">
<title>Corporaci&oacute;n De La Renca</title><body onLoad="MM_preloadImages('../../images/botonera_on_04.jpg','../../images/botonera_on_05.jpg','../../images/botonera_on_06.jpg','../../images/botonera_on_07.jpg','../../images/botonera_on_08.jpg','images/img_salud/salud_on_07.jpg','images/img_salud/salud_on_09.jpg','images/img_salud/salud_on_11.jpg','images/img_salud/salud_on_14.jpg','images/img_salud/salud_on_27.jpg','images/img_salud/salud_on_28.jpg','images/img_salud/salud_on_29.jpg','images/img_salud/salud_on_30.jpg','images/img_salud/salud_on_31.jpg','images/img_salud/salud_on_32.jpg','images/img_salud/salud_on_16.jpg','images/img_salud/salud_on_17.jpg','images/img_salud/salud_on_20.jpg','images/img_salud/sala_on_20.jpg')"><table width="961" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>    <td colspan="5"><a href="../../index.php.htm"><img src="../../images/flash_01.jpg" width="960" height="153" border="0" /></a></td>
  </tr>
  <tr>
    <td colspan="5"><table width="70" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="../../images/botonera_espacio.jpg" width="29" height="21" /></td>
        <td><img src="../../images/botonera_logo.jpg" width="276" height="21" /></td>
        <td><a href="../../index.php.htm"><img src="../../images/botonera_04.jpg" name="Image1" width="52" height="21" border="0" id="Image1" onMouseOver="MM_swapImage('Image1','','../../images/botonera_on_04.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><a href="../educacion/educacion.php.htm"><img src="../../images/botonera_06.jpg" width="96" height="21" border="0" id="Image3" onMouseOver="MM_swapImage('Image3','','../../images/botonera_on_06.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><a href="salud.php.htm"><img src="../../images/botonera_07.jpg" width="58" height="21" border="0" id="Image4" onMouseOver="MM_swapImage('Image4','','../../images/botonera_on_07.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><a href="../transparencia/contacto.php.htm"><img src="../../images/botonera_08.jpg" width="87" height="21" border="0" id="Image5" onMouseOver="MM_swapImage('Image5','','../../images/botonera_on_08.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="../../images/botonera_espacio_2.jpg" width="255" height="21" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="29" height="589" valign="top" background="images/interior_10.jpg"><img src="../../images/index_10.jpg" width="29" height="589" /></td>
    <td width="221" valign="top"><table width="70" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/interior_11.jpg" width="221" height="75"></td>
        </tr>
      <tr>
        <td height="514" valign="top" background="images/interior_16.jpg"><table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td><a href="centro_renca.php.htm"><img src="images/img_salud/salud_07.jpg" name="Image6" width="220" height="46" border="0" id="Image6" onMouseOver="MM_swapImage('Image6','','images/img_salud/salud_on_07.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="de_cosam.php.htm"><img src="images/img_salud/salud_09.jpg" width="220" height="51" border="0" id="Image7" onMouseOver="MM_swapImage('Image7','','images/img_salud/salud_on_09.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="servicio_urgencia.php.htm"><img src="images/img_salud/salud_11.jpg" name="Image8" width="220" height="43" border="0" id="Image8" onMouseOver="MM_swapImage('Image8','','images/img_salud/salud_on_11.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="salud.php.htm"><img src="images/img_salud/salud_14.jpg" width="220" height="42" border="0" id="Image9" onMouseOver="MM_swapImage('Image9','','images/img_salud/salud_on_14.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="programa_infantil.php.htm"><img src="images/img_salud/salud_27.jpg" width="220" height="26" border="0" id="Image10" onMouseOver="MM_swapImage('Image10','','images/img_salud/salud_on_27.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="programa_adulto.php.htm"><img src="images/img_salud/salud_28.jpg" width="220" height="26" border="0" id="Image11" onMouseOver="MM_swapImage('Image11','','images/img_salud/salud_on_28.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="programa_mujer.php.htm"><img src="images/img_salud/salud_29.jpg" width="220" height="26" border="0" id="Image12" onMouseOver="MM_swapImage('Image12','','images/img_salud/salud_on_29.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="programa_odontologico.php.htm"><img src="images/img_salud/salud_30.jpg" width="220" height="27" border="0" id="Image13" onMouseOver="MM_swapImage('Image13','','images/img_salud/salud_on_30.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="programa_promocion.php.htm"><img src="images/img_salud/salud_31.jpg" width="220" height="26" border="0" id="Image14" onMouseOver="MM_swapImage('Image14','','images/img_salud/salud_on_31.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            <td height="18"><a href="programa_salud_mental.php.htm"><img src="images/img_salud/salud_32.jpg" width="220" height="25" border="0" id="Image15" onMouseOver="MM_swapImage('Image15','','images/img_salud/salud_on_32.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
        <td height="18"><a href="programa_salud_terreno.php.htm"><img src="images/img_salud/salud_16.jpg" name="Image9" width="220" height="35" border="0" id="Image9" onMouseOver="MM_swapImage('Image9','','images/img_salud/salud_on_16.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
      </tr>
          <tr>
            <td height="18"><a href="sala.php.htm"><img src="images/img_salud/sala_20.jpg" width="220" height="43" border="0" id="Image18" onMouseOver="MM_swapImage('Image18','','images/img_salud/sala_on_20.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
          </tr>
          <tr>
            
          </tr>
        </table></td>
        </tr>
    </table></td>
    <td width="56" valign="top"><img src="images/interior_12.jpg" width="56" height="589"></td>
    <td width="618" valign="top"><table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/interior_13.jpg" width="618" height="14"></td>
        </tr>
      <tr>
        <td height="626" valign="top" background="images/interior_15.jpg"><table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="7" height="30">&nbsp;</td>
            <td colspan="2" valign="bottom" class="titulos_verde_grandes">Programa Adulto</td>
            <td width="208" valign="bottom" class="titulos_verde_grandes"><p>&nbsp;</p></td>
            <td width="8">&nbsp;</td>
            </tr>
          <tr>
            <td height="18">&nbsp;</td>
            <td width="378" valign="top" class="textos"><ul>
                          </ul>
              <ul>
              <li>Control de salud para pacientes hipertensos, diab&eacute;ticos y con problemas de colesterol</li>
            </ul>
              <ul>
                <li>Salas de tratamiento kin&eacute;sica para adultos con enfermedades respiratorias (Salas ERA)</li>
                  </ul>
              <ul>
                <li>Tratamiento kin&eacute;sico para adultos mayores de 55 a&ntilde;os con problemas de artrosis</li>
                  </ul>
              <ul>
              <li>Programas nutricionales para pacientes obesos y con sobrepeso</li>
                  </ul>
              <ul>  
              <li>Atenci&oacute;n y tratamiento para pacientes con tuberculosis y epilepsia</li>
                  </ul>
              <ul>
              <li>Atenci&oacute;n integral del adulto mayor</li>
                  </ul>
              <ul>
                <li>Alimentaci&oacute;n (entrega de sopa) para adultos mayores de 70 a&ntilde;os</li>
                  </ul>
              <ul>
                <li>Radiograf&iacute;a de t&oacute;rax gratuita en mayores de 65 a&ntilde;os con diagnostico de sospecha de neumon&iacute;a y observaci&oacute;n de EPOC (Enfermedad pulmonar obstructiva cr&oacute;nica)</li>
                  </ul>
              <ul>
                <li>Realizaci&oacute;n de ecotomograf&iacute;a abdominal en pacientes de 35 a 64 a&ntilde;os.</li>
                  </ul>
              <ul>
                <li>Realizaci&oacute;n de Holter de presi&oacute;n arterial en casos de hipertensi&oacute;n arterial de manejo complejo con indicaci&oacute;n exclusiva de su m&eacute;dico tratante.</li>
                            </ul>
              <ul>
              <li>Entrega de ortesis y ayudas t&eacute;cnicas.</li>
              </ul></td>
            <td width="17" valign="top" class="textos">&nbsp;</td>
            <td width="208" valign="bottom" class="titulos_verde_grandes"><table border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td width="212"><span class="textos"><img src="images/fotos/programa_adulto.jpg" width="200" height="133" class="sombra" style="border:1px solid #999; -moz-border-radius:5px; border-radius:5px"></span></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td><span class="textos"><img src="images/fotos/programa_adulto_2.jpg" width="200" height="266" class="sombra" style="border:1px solid #999; -moz-border-radius:5px; border-radius:5px"></span></td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="3" class="textos"><p align="center" class="titulos_verde">&nbsp;</p>
              <p align="center" class="titulos_verde"><strong>&iquest;Como accedo al Programa Adulto?</strong></p>
              <p class="subtitulos_verde"><strong>Para pacientes de 15 a 64 a&ntilde;os de edad que est&eacute;n inscritos en Centro de Salud de la Comuna:</strong></p>
              <ul>
                <ul>
                  <ul>
                    <li>Acceden al beneficio de EMPA (Examen Medicina Preventiva Adulto). </li>
                    <li>De salir alterada Presi&oacute;n Arterial o Glicemia, &nbsp;ingresa como sospecha de diabetes (DM) o hipertensi&oacute;n (HTA).</li>
                    <li>De confirmarse diagn&oacute;stico, &nbsp;el m&eacute;dico inicia tratamiento y el paciente ingresa a Programa con controles peri&oacute;dicos1integrales que incluye: m&eacute;dico, enfermera, nutricionista y podolog&iacute;a en casos que amerite. </li>
                    </ul>
                  </ul>
                </ul>
              <p class="subtitulos_verde"><strong>Para Adulto Mayor de 65 a&ntilde;os de edad, debe estar inscrito en el Centro de Salud de la comuna, se les realiza EFAM (Examen Funcional del Adulto Mayor) realizado por enfermera:</strong></p>
              <ul>
                <ul>
                  <ul>
                    <li>De estar el examen alterado (presi&oacute;n arterial y/o glicemia) paciente ingresa a Programa Cardiovascular.</li>
                    <li>De estar EFAM NORMAL, paciente ingresa a Programa Adulto Mayor&nbsp; con controles peri&oacute;dicos con m&eacute;dicos, nutricionista y enfermera. </li>
                    <li>Dentro de los beneficios se contempla adem&aacute;s la entrega de alimentaci&oacute;n (PACAM), ayudas t&eacute;cnicas y ortesis solo para&nbsp; aquellos pacientes que el&nbsp; m&eacute;dico tratante lo estime necesario. </li>
                    </ul>
                  </ul>
                </ul>
              <p>&nbsp;</p></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="3">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          </table></td>
        </tr>
    </table></td>
    <td width="37" valign="top" background="images/interior_14b.jpg"><img src="images/interior_14.jpg" width="37" height="589"></td>
  </tr>
  <tr>
    <td colspan="5"><img src="../../images/index_38.jpg" width="960" height="37" /></td>
  </tr>
</table>
 