<script type="text/javascript">
<!--
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<link href="../../css/estilos_css.css" rel="stylesheet" type="text/css">
<title>Corporaci&oacute;n De La Renca</title><body onLoad="MM_preloadImages('../../images/botonera_on_04.jpg','../../images/botonera_on_05.jpg','../../images/botonera_on_06.jpg','../../images/botonera_on_07.jpg','../../images/botonera_on_08.jpg','images/img_salud/salud_on_07.jpg','images/img_salud/salud_on_09.jpg','images/img_salud/salud_on_11.jpg','images/img_salud/salud_on_14.jpg','images/img_salud/salud_on_16.jpg','images/img_salud/salud_on_17.jpg','images/img_salud/salud_on_20.jpg','images/img_salud/salud_on_22.jpg','images/img_salud/salud_on_23.jpg','images/img_salud/salud_on_24.jpg','images/img_salud/salud_on_25.jpg','images/img_salud/salud_on_26.jpg','images/img_salud/sala_on_20.jpg','images/img_salud/salud_34_on.jpg')"><table width="961" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>    <td colspan="5"><a href="../../index.php.htm"><img src="../../images/flash_01.jpg" width="960" height="153" border="0" /></a></td>
  </tr>
  <tr>
    <td colspan="5"><table width="70" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="../../images/botonera_espacio.jpg" width="29" height="21" /></td>
        <td><img src="../../images/botonera_logo.jpg" width="276" height="21" /></td>
        <td><a href="../../index.php.htm"><img src="../../images/botonera_04.jpg" name="Image1" width="52" height="21" border="0" id="Image1" onMouseOver="MM_swapImage('Image1','','../../images/botonera_on_04.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><a href="../educacion/educacion.php.htm"><img src="../../images/botonera_06.jpg" width="96" height="21" border="0" id="Image3" onMouseOver="MM_swapImage('Image3','','../../images/botonera_on_06.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><a href="salud.php.htm"><img src="../../images/botonera_07.jpg" width="58" height="21" border="0" id="Image4" onMouseOver="MM_swapImage('Image4','','../../images/botonera_on_07.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><a href="../transparencia/contacto.php.htm"><img src="../../images/botonera_08.jpg" width="87" height="21" border="0" id="Image5" onMouseOver="MM_swapImage('Image5','','../../images/botonera_on_08.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
        <td><img src="../../images/botonera_espacio_2.jpg" width="255" height="21" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td width="29" height="589" valign="top" background="images/interior_10.jpg"><img src="../../images/index_10.jpg" width="29" height="589" /></td>
    <td width="221" valign="top"><table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/interior_11.jpg" width="221" height="75"></td>
      </tr>
      <tr>
        <td><a href="centro_renca.php.htm"><img src="images/img_salud/salud_07.jpg" name="Image6" width="220" height="46" border="0" id="Image6" onMouseOver="MM_swapImage('Image6','','images/img_salud/salud_on_07.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
      </tr>
      <tr>
        <td height="18"><a href="de_cosam.php.htm"><img src="images/img_salud/salud_09.jpg" width="220" height="51" border="0" id="Image7" onMouseOver="MM_swapImage('Image7','','images/img_salud/salud_on_09.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
      </tr>
      <tr>
        <td height="18"><a href="servicio_urgencia.php.htm"><img src="images/img_salud/salud_11.jpg" name="Image8" width="220" height="43" border="0" id="Image8" onMouseOver="MM_swapImage('Image8','','images/img_salud/salud_on_11.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
      </tr>
      <tr>
        <td height="18"><a href="programas_salud.php.htm"><img src="images/img_salud/salud_14.jpg" width="220" height="42" border="0" id="Image15" onMouseOver="MM_swapImage('Image15','','images/img_salud/salud_on_14.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
      </tr>
      <tr>
        <td height="18"><a href="programa_salud_terreno.php.htm"><img src="images/img_salud/salud_16.jpg" name="Image9" width="220" height="35" border="0" id="Image9" onMouseOver="MM_swapImage('Image9','','images/img_salud/salud_on_16.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
      </tr>
      <tr>
        <td height="18"><a href="programa_salud_terreno.php.htm"><img src="images/img_salud/salud_23.jpg" width="220" height="30" border="0" id="Image11" onMouseOver="MM_swapImage('Image11','','images/img_salud/salud_on_23.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
      </tr>
      <tr>
        <td height="18"><a href="programa_sonrie_renca.php.htm"><img src="images/img_salud/salud_24.jpg" width="220" height="23" border="0" id="Image12" onMouseOver="MM_swapImage('Image12','','images/img_salud/salud_on_24.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
      </tr>
      
      <tr>
        <td height="18"><a href="red_rehabilitacion.php.htm"><img src="images/img_salud/salud_26.jpg" width="220" height="25" border="0" id="Image16" onMouseOver="MM_swapImage('Image16','','images/img_salud/salud_on_26.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
      </tr>
      <tr>
        <td height="18"><a href="programa_pacientes.php.htm"><img src="images/img_salud/salud_34.jpg" width="220" height="45" border="0" id="Image19" onMouseOver="MM_swapImage('Image19','','images/img_salud/salud_34_on.jpg',1)" onMouseOut="MM_swapImgRestore()" /></a></td>
      </tr>
      <tr>
        <td height="18"><a href="sala.php.htm"><img src="images/img_salud/sala_20.jpg" width="220" height="43" border="0" id="Image17" onMouseOver="MM_swapImage('Image17','','images/img_salud/sala_on_20.jpg',1)" onMouseOut="MM_swapImgRestore()"></a></td>
      </tr>
      <tr>
        
      </tr>
    </table></td>
    <td width="56" valign="top"><img src="images/interior_12.jpg" width="56" height="589"></td>
    <td width="618" valign="top"><table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="images/interior_13.jpg" width="618" height="14"></td>
        </tr>
      <tr>
        <td height="576" valign="top" background="images/interior_15.jpg"><table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="18" height="30">&nbsp;</td>
            <td height="30" colspan="2" valign="bottom" class="titulos_verde_grandes">Red de rehabilitaci&oacute;n alcohol y drogas</td>
            <td width="27" height="30">&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td colspan="2"><p class="textos"><br>
              <strong class="subtitulos_verde2">Programa Intensivo Alcohol y Drogas para adultos:</strong> Este es un programa de rehabilitaci&oacute;n que atiende a personas cuyas edades fluct&uacute;an entre los 18 y los 50 a&ntilde;os. </p>
              <p class="textos">Se desarrolla un programa de atenci&oacute;n diurna donde se ofrece a sus participantes actividades de rehabilitaci&oacute;n, fortalecimiento familiar y se entregan herramientas que permitan su reinserci&oacute;n en la sociedad. Para tal efecto el programa se encuentra dotado de un equipo multidisciplinario compuesto por psic&oacute;logo, asistente social, t&eacute;cnico en rehabilitaci&oacute;n, psiquiatra.</p>
              <p class="textos">Este Programa se encuentra funcionando en dependencias del COSAM II, ubicado en Las Margaritas 2295, fono 2 2646 9877 y su Encargado es la Psic&oacute;loga, Srta. Alicia Veloso</p>
              <p class="subtitulos_verde">&nbsp; Su funcionamiento es de Lunes a Viernes de 8:00 a 20:00 hrs.</p>
              <p class="textos"><strong>P<span class="subtitulos_verde2">rograma intensivo Alcohol y Drogas para Adolescentes:</span></strong> Este programa se encuentra&nbsp; focalizado a adolescentes de la comuna cuyas edades fluct&uacute;an entre los 12 y los 19 a&ntilde;os, que presentan como caracter&iacute;sticas un alto riesgo social y un consumo que se vincula a otras situaciones de anormalidad como la delincuencia, deserci&oacute;n escolar y disfunci&oacute;n familiar. Este programa funciona en horario diurno (de lunes a viernes a partir de las 9.30 a 18.30 Hrs.) donde se otorgan prestaciones por un equipo multidisciplinario, compuesto por asistente. social, psic&oacute;logo, T&eacute;cnico en Rehabilitaci&oacute;n, psiquiatra, administrativo.</p>
              <p class="textos"><strong>P</strong><strong>rograma intensivo Alcohol y Drogas para Adolescentes COSAM III </strong>Para acceder a este programa, se puede llamar al fono 2 2641 9308, este Centro se ubica en Los Plátanos 1096. Lunes a Viernes de 8:00 a 17:00 hrs.</p>
  <p>&nbsp;</p>
  <p class="textos">&nbsp;</p></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="137">&nbsp;</td>
            <td colspan="2" align="center">&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
        </tr>
    </table></td>
    <td width="37" valign="top" background="images/interior_14b.jpg"><img src="images/interior_14.jpg" width="37" height="589"></td>
  </tr>
  <tr>
    <td colspan="5"><img src="../../images/index_38.jpg" width="960" height="37" /></td>
  </tr>
</table>
 